body{
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 10px;
    background: #fdfdff;
    text-align: center;
    text-align-all: center;
}
div[id="head_box"]{
    background: rgba(198, 0, 0, 0.85);
    padding: 10px;
    height: 10px;
}
h1{
    color: #c40000;
    text-transform: uppercase;
    font-weight: bold;
    position: center;
    text-align: center;
    font-size: 30px;
}
.box{
    width: fit-content;
    padding: 5px;
    display: inline-block;
    border-radius: 8px;
    border: 5px double rgba(198, 0, 0, 0.6);
}
.box input[type="submit"], input[type="button"], button{
    background: rgba(142, 142, 142, 0.18);
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 2px solid rgba(80, 80, 80, 0.6);
    padding: 5px 9px;
    outline: none;
    border-radius: 8px;
    transition: 0.25s;
}
.box input[type="submit"]:hover, input[type="button"]:hover, button:hover{
    background: rgba(62, 62, 62, 0.85);
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.92);
}

.data_table table,.data_table th, .data_table td{
    border: 1px solid;
    padding: 4px;
}

table[id='data_table']{
    border: 1px solid;
    border-collapse: collapse;
    width: 120%;
    font-size: 12px;
}
.data_table thead{
    background: rgba(198, 0, 0, 0.85);
    color: ghostwhite;
    font-weight: bold;
}
.data_table tbody tr:hover {background-color: #f7f7f7;}
.data_table tbody td:hover {background-color: #ffeaea;}

table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
}

.error_box{
    color: red;
    font-weight: bold;
    width: 350px;
    text-align: center;
    margin: auto;
    font-size: 8px;
}

button[id='?']{
    border-radius: 1000px;
    color: white;
    background: rgb(240, 74, 74);
    font-size: 10px;
    font-weight: bold;
}
button[id='?']:hover{
    border-color: #cb0000;
    background: rgb(70, 0, 0);
}